@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    align-items: center;
}
header{
    width: 100%;
    background-color: rgb(108, 108, 175);
}
li{ 
    width: 150px;
    padding: 15x;
    margin: 15px;
    list-style: none;
}
              
.nav-menu .fa{
             min-width: 15px;
            margin-right: 8px;
}
li a{ 
    color: white;
    font-family: "montserrat", sans-serif;
    font-weight: 500px;
    font-size: 20px;

}
.navbar{
           min-height: 50px;
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 0 24px;
}
.logo{
        width: 20%;
}
.navbar .logo img{
                   max-width: 20%;

}
.nav-menu{
           display: inline-flex;
           justify-content: space-between;
           align-items: center;
           gap: 60px;
}
.nav-link{
        transition: .7s ease;
}
.nav-link:hover{
                   background-color: rgb(231, 98, 80);
                   padding: 5px;
                   border-radius: 10px;
}
.hamburger{
            display: none;
            cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.banner .intro-text{
    font-size: 20px;
    padding: 8px 8px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.topic h1{
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
}
.topic h1 span{
    color: red;
}
.mission{
         margin: 2%;
         justify-content: center;
         align-items: center;
}
.mission h2{
           text-align: center;
           font-family: "montserrat", sans-serif;
           font-weight: 500px;
}
.mission .dmission{
           text-align: center;
           font-family: "montserrat", sans-serif;
           font-weight: 500px;
           font-size: 18px;
           cursor: grab;
           max-width: 55%;
           margin: 5% 25%;
           opacity: 0.8;
}
.need h1{
    text-align: center;
    font-family: "montserrat", sans-serif;
    font-weight: 500px;
    font-size: 28px;
    cursor: grab;
    max-width: 80%;
    margin: 5% 10%;
    opacity: 0.8;
}
video{
        width: 100%;
}
.video-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-display .V-1{
    width: 480px;
    height: 650px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    margin: 15px;
}
.video-display .V-1 video{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.whatsapp{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 25px;
}
.service-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    object-fit: cover;
    margin: auto;
}
.whatsapp a{
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 30px;
    color: white;
    background-color: rgb(3, 138, 93);
}
.whatsapp a:hover{
    background-color: rgb(231, 98, 80);
}
.qoute{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qoute p{
          text-align: center;
          padding: 15px auto;
          margin: 2%;
          font-size: 32px;
          font-family: "montserrat", sans-serif;
          font-weight: 500px;      
}
.qoute i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
}
.details .fa{
              margin-right: 6px;
}
.webinfo{
          width: 90%;
          height: 400;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 10px auto;
          background: rgba(0, 0, 0, 0.8) url(webinfo.jpeg); 
          color: #fff;
          font-family: "montserrat", sans-serif;
          font-weight: 500px;
}
.webinfo h2{
              font-size: 36px;
              color: rgb(223, 63, 15);
              margin-top: 20px;
              text-align: center;
}
.webinfo span{
            width: 70%;
            padding: 20px;
            margin-bottom: 40px;
            font-size: 26px;
            background-color: rgba(0, 0, 0, 0.68);
}

footer{
        position: static;
        bottom: 0px;
}
.footer-distributed{
    background-color: rgb(28, 27, 27);
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font-family: "montserrat", sans-serif;
    font-weight: 500px;
    font-size: 16px bold;
    color: white;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;

}
.footer-distributed .left, .center, .right{
                   display: inline-block;
                   vertical-align: top;
}
.footer-distributed .left{
      width: 30%;
}
.footer-distributed h3{
   font-size: 36px;
   margin: 0;
}
.footer-distributed h3 span{
        color: rgb(223, 63, 15);
}
.footer-distributed .footer-link{
         color: #fff;
         margin: 20px 0px 12px;
}
.footer-distributed .footer-link a{
           display: inline-block;
           text-decoration: none;
           line-height: 1.8;
           color: inherit;
}
.footer-distributed .company-name{
            color: #8f9296;
            font-size: 15px;
            font-weight: normal;
            margin: 0;
}
.footer-distributed .center{
            width: 35%;
}
.footer-distributed .center i{
            background-color: rgb(108, 108, 175);
            color: #fff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
}
.footer-distributed .center i.fa-envelope{
            font-size: 17px;
            line-height: 38px;
}
.footer-distributed .center p{
             display: inline-block;
             color: white;
             vertical-align: middle;
             margin: 0;
}
.footer-distributed .center p span{
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 2;
}
.footer-distributed .center p a{
            color: rgb(101, 183, 234);
}
.footer-distributed .right{
             width: 30%;
}
.footer-distributed .about-company{
            line-height: 20px;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
}
.footer-distributed .about-company span{
            display: block;
            color:  rgb(108, 108, 175);
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
}
.footer-distributed .footer-icon{
            margin-top: 25px;
}
.footer-distributed .footer-icon a{
            display: inline-block;
            width: 35px;
            line-height: 35px;
            cursor: pointer;
            background-color: rgb(108, 108, 175);
            color: #fff;
            font-size: 20px;
            border-radius: 2px;
            text-align: center;
            margin-right: 3px;
            margin-bottom: 5px;
}
.footer-distributed .footer-icon a:hover{
            background-color:rgb(223, 63, 15);
} 
.footer-distributed .footer-link a:hover{
                color:rgb(223, 63, 15);
}

@media(max-width: 880px) {
    .footer-distributed .footer-link, .footer-distributed .center,
     .footer-distributed .right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
     }
     .footer-distributed .center{
        text-align: left;
        margin-top: 12px;
     }
    .topic h1{
        width: 95%;
        font-size: 45px;
        font-weight: 700;
    }
    .mission .dmission{
        font-size: 17px;
        max-width: 80%;
        margin: 2% 8%;
        opacity: 0.8;
}
.need h1{
    font-weight: 300px;
    font-size: 20px;
}
.topic h1{
    width: 90%;
    font-size: 30px;
    font-weight: 300;
}
.whatsapp a{
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
}
.video-display .V-1{
    width: 320px;
    height: 360px;
    object-fit: cover;
    margin: 3px;
}
.qoute p{
    margin: 2%;
    font-size: 23px;
    font-weight: 300px;      
}
}
@media(max-width: 786px){
    .navbar .logo img{
        max-width: 30%;
        }

    .hamburger{
                 display: block;
                 padding: 10px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
.hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg); 
}
.nav-menu{
          position: fixed;
          left: -100%;
          top: 40px;
          gap: 0;
          flex-direction: column;
          background-color:rgb(108, 108, 175) ;
          width: 100%;
          text-align: center;
          transition: 0.3s;
}
.nav-menu li{
              margin-top: 10px;
              padding: 6px auto;
}
.nav-item{
            margin: 20px 0;
            padding: 10px;
}
.nav-menu.active{
           left: 0;
}
.topic h1{
    width: 95%;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.banner .intro-text{
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 6px;
}
.video-display .V-1{
    width: 320px;
    height: 360px;
    object-fit: cover;
    margin: 3px;
}
}
@media(max-width: 720px){
    .webinfo h2{
             font-size: 26px;
    }
    .webinfo span{
        font-size: 18px;
    }
    .video-display .V-1{
        width: 240px;
        height: 320px;
        object-fit: cover;
        margin: 3px;
    }
}